.text-fdn {
    color: #7532f9 !important;
}


#main {
    background:white;
}

#header img {
    width: 70px;
    object-fit: cover;
}

#carousel-main .carousel-inner .carousel-item img {
    object-fit: cover;
    filter: grayscale(75%);
    height: 50vh;
}

#carousel {
    position: relative;
}

#carousel .overlay {
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

#carousel .overlay .container, 
#carousel .overlay .row {
    height: 100%;
}

#overlay img {
    filter: none !important;
    background: white;
}



#overlay section, #overlay picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-1 {
    background: black;
}
.container {
    width: 100vw;
}

#footer {
    background: linear-gradient(180deg,#33a5a9, 95%,#2f989c);
}

#footer a {
    color: white;
    text-decoration: none;
}

#ul-redes {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#ul-redes a, #ul-redes li {
    list-style: none;
    text-decoration: none;
}

picture > img {
    object-fit: cover;
}


/* ---------------------- MODALES ---------------------*/
